.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.items-center {
  justify-content: center;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.pd-base {
  padding: 1.5rem;
}

.mobile-only {
  display: initial;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }

  .pd-base {
    padding: 4rem;
  }
}