.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.items-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.py-base {
  padding-block: 1.25rem;
}

.px-base {
  padding-inline: 1.25rem;
}

.gap-875 {
  gap: .875rem;
}

.gap-\.5 {
  gap: .5rem;
}

.text-sm {
  font-size: var(--fs-sm);
}

.text-base {
  font-size: var(--fs-base);
}

.text-lg {
  font-size: var(--fs-lg);
}

.text-xl {
  font-size: var(--fs-xl);
}